<div class="users-module">
	<div class="col-xs-12 clear-padding">
		<a href="#">
			<img class='img-responsive logo' src="images/logo_coes_small.png">
		</a>
	</div>

	<div class="col-xs-12">
		<alert ng-repeat="alert in pageAlerts" type="{{ alert.type }}" close="closeAlert($index, 'pageAlerts')">
			{{ alert.message }}
		</alert>
	</div>
	<!-- Columna izquierda -->
	<div class="col-md-6 clear-padding-right">
		<div class="col-xs-12 title clear-padding-left column-left-header">
			<div class="col-sm-5 clear-padding-left">
				<h3>Lista de Usuarios</h3>
				<hr>
			</div>
			<div class="col-sm-7 actions" ng-if="availableEdit">
				<div class="col-sm-1 col-xs-2 pull-right">
					<span id="add-user" class="icon icon-plus_filled" title="Agregar nuevo" ng-click='addUser()' tabindex=3 ng-enter="addUser();" ng-tab="changeFocus('#tableUsers-sort');" ng-ShiftTab="changeFocus('#users-search');" ng-if="availableEdit"></span>
				</div>
				<div class="col-sm-10 col-xs-10 right-inner-addon pull-right">
					<input id="users-search" type="text" class="form-control" placeholder="Buscar" ng-model="filter.name" tabindex=2/>
					<span class="glyphicon icon-search"></span>
				</div>
			</div>

			<div class="col-xs-12 clear-padding-left clear-padding-right dropdown-options">
				<span>Seleccione la empresa</span>
				<div class="btn-group" dropdown is-open="status.isopen">
					<button type="button" class="btn dropdown-toggle">
						{{ selectedClient.name }}<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat='client in clients'>
							<a ng-click='filterByClient(client)'>{{ client.name }}</a>
						</li>
						<!--<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>-->
					</ul>
				</div>
			</div>

		</div>

		<div class="table-responsive">
			<!--<scrollable-table watch="users">-->
				<table class="table table-striped table-hover" fixed-header>
					<thead>
						<tr>
							<th class="forty">
								Nombre
								<span id="tableUsers-sort" class="icon icon-{{ sort }}_filled" ng-click="predicate = 'name'; changeSortOrder(sort.name);" tabindex=4 ng-enter="predicate = 'name'; reverse=!reverse; changeSortOrder();" ng-tab="nextUser(users[0], 0);" ng-ShiftTab="changeFocus('#add-user');"/>
							</th>
							<th class="forty">
								Correo
								<!--<span id="tableUsers-sortbyemail" class="icon icon-{{ sortbyemail }}_filled" ng-click="predicate = 'username'; reverse=!reverse; changeSortOrderByEmail(sort.name);" tabindex=4 ng-enter="predicate = 'username'; reverse=!reverse; changeSortOrderByEmail(sort.name);" ng-tab="nextUser(users[0], 0);" ng-ShiftTab="changeFocus('#tableUsers-sort');"/>-->
							</th>
							<th class='ten'>Avanzado</th>
							<th class='ten'>Habilitado</th>
						</tr>
					</thead>
					<tbody>
						<tr id="user-{{$index}}" ng-repeat='user in users | filter:filter.name | orderBy:predicate:reverse' ng-click="" tabindex=5 ng-enter="changeUser(user, $index);" ng-focus="changeUser(user, $index)" ng-up="previousUser(users[$index-1], $index-1);" ng-down="nextUser(users[$index+1], $index+1);" ng-tab="changeFocus('#name-input');" ng-ShiftTab="changeFocus('#tableUsers-sort');">
							<td class="forty">{{ user.name + ' ' + user.lastName1 + ' ' + user.lastName2 }}</td>
							<td class="forty">{{ user.username }}</td>
							<td class="ten"><span class='icon icon-check_filled' ng-if="user.client[selectedClient.tag].advanced"></span></td>
							<td class="ten"><span class='icon icon-check_filled' ng-if="user.enabled"></span></td>
							<!--<td><input type="checkbox" class="personal-checkbox" ng-model='user.enabled' disabled></td>-->
							<td ng-if="$index === settings.selectedUserIndex" class="selected-arrow">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</td>
						</tr>
					</tbody>
				</table>
			<!--</scrollable-table>-->
		</div>
	</div>
	<!-- Columna derecha -->
	<div class="col-md-6" ng-class="getRightColumnStyle()">
		<div class="col-xs-12 title clear-padding-right clear-padding-left">
			<div class="col-xs-4 clear-padding-left">
				<h3 has-permission='Edit'>{{ getActionLabel() }} Usuario</h3>
				<hr>
			</div>
			<div class="col-xs-8 actions" ng-if="availableEdit">
				<span class="icon icon-save_filled pull-right" ng-click="updateUser(editUser, permissions);" tabindex=8>
				</span>
			</div>
		</div>
		<!-- <span class="glyphicon glyphicon-trash" ng-click='deleteUser(editUser)'></span> -->
		<!-- <form role="form" enctype="multipart/form-data" name='editUserForm' ng-submit="updateUser(editUser, permissions, this.userPhoto);"> -->
		<div class="form-group">
			<input type="text" id="name-input" class="form-control" placeholder="Nombre" ng-model="editUser.name" ng-blur='generateTag()' tabindex=6 required/>
		</div>
		<div class="form-group col-sm-6 clear-padding-left">
			<input type="text" class="form-control" placeholder="Primer Apellido" ng-model="editUser.lastName1" tabindex=6 required/>
		</div>
			<div class="form-group col-sm-6 clear-padding-right">
			<input type="text" class="form-control" placeholder="Segundo Apellido" ng-model="editUser.lastName2" tabindex=6/>
		</div>
		<div class="col-sm-4 col-md-5 col-lg-4 text-center">
			<form id="uploadForm" enctype="multipart/form-data" action="{{ usersPhotoEndpoint }}" method="post">
				<img class="user-photo" ng-src="{{ editUser.urlFoto }}"/>
				<div class="upload">
					<input type="file" id="userPhotoInput" name="userPhoto" tabindex=6/>
				</div>
			</form>
		</div>
		<div class="col-sm-8 col-md-7 col-lg-8 clear-padding-right">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Correo Electrónico" ng-model="editUser.username" tabindex=6 required/>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='editUser.password' tabindex=6 required>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="inputTag" placeholder="# Etiqueta" ng-model='editUser.tag' tabindex=6 required>
			</div>

			<div ng-repeat="client in editUser.client track by $index" class="selected-item">
				<p ng-click="removeClient(client)"> {{ client.name }} X </p>
			</div><div class="form-group">
				<input type="text" class="form-control" placeholder="Cliente/Empresa" ng-model='newClient' tabindex=6 typeahead-editable="false" typeahead="client.name for client in clients | filter:$viewValue | limitTo:6" min-length="0" typeahead-min-length=0 typeahead-on-select="typeaheadSelectClient()" required>
			</div>

			<div>
				<label class="checkbox-label">
	  				<input type="checkbox" class="personal-checkbox" id="chk-Enable" ng-model='editUser.enabled' ng-click="enableUser()" tabindex=6>
	  				Habilitado
				</label>
			</div>
			<div class="form-group">
				<label class="checkbox-label">
	  				<input type="checkbox" class="personal-checkbox" id="chk-Enable" ng-model='editUser.client[selectedClient.tag].advanced' tabindex=6>
	  				Usuario Avanzado
				</label>
			</div>
		</div>
	
		<!-- Lista de permisos -->
		<div class="col-xs-12 clear-padding-left clear-padding-right">
			<h3>Roles</h3>
			<hr>
		</div>
		<div class='rol-div' ng-repeat='permission in permissions'>
			<label class="checkbox-label">
  				<input type="checkbox" class="personal-checkbox" id="chk{{ permission.code }}" ng-model='permission.checked' ng-click="selectedPermissions()" tabindex=7> {{ permission.name }}
			</label>
		</div>
	  	<!-- </form> -->
	</div>
</div>