<!--
	All Rights Reserved
	This software is proprietary information of
	Intelligent Sense
	Use is subject to license terms.
	Filename: chat.html
-->
<script ng-src="{{socketIoURL}}"></script>
<div class='col-sm-3 messages-div pull-right' ng-show="isOpen">
	<!--<span class="badge" ng-if='haveMessagesUnread'>{{ numberMessagesUnread }}</span>
	<span id='popover-messages' class="col-xs-1 icon icon-notification_filled" ng-class='{selectedIcon: haveMessagesUnread}'></span>
	<!-- your popup hidden content -->
	<div>
		<input type="text" class="form-control input-message" placeholder="#tag mensaje"	ng-model="msjToSend" 
		typeahead="tag for tag in usersTags | filter:$viewValue | limitTo:6" ng-enter="sendMessage()"/>
	</div>
	<div id="chat">
		<div ng-repeat="message in messages track by $index" class='message-div col-xs-12' ng-class="{unRead: !message.wasRead, messageForAll: message.forAll}">
			<div class='message-received' ng-if='!message.isOwner'>
				<div class='div-photo'>
					<img class="message-photo" ng-src="{{ message.senderImage }}"/>
				</div>
				<div class='div-sender'>
					<span class='first-span'> {{ message.username }} </span>
					<span> {{ message.sender }} </span>
					<span class='icon icon-check_filled pull-right' ng-if="message.wasRead"></span>
					<span class='icon icon-notification_filled pull-right' ng-if="!message.wasRead && message.isForMe" ng-click='markReadMessage(message, $index)'></span>
				</div>
				<div class='div-content'>
					<span class='sender-label'> {{ message.receiver }} </span>
					<span class='message-label' ng-if='!message.isURL'>{{ message.message }} </span>
					<span class='message-label' ng-if='message.isURL'>{{ message.beforeURL }}</span>
					<a ng-href="{{ message.URL }}" target="_blank" ng-if='message.isURL'>{{ message.URL }}</a>
					<span class='message-label' ng-if='message.isURL'>{{ message.afterURL }}</span>
				</div>
			</div>
			<div class='message-sended' ng-if='message.isOwner'>
				<div class='div-photo pull-rigth'>
					<img class="message-photo" ng-src="{{ message.senderImage }}"/>
				</div>
				<div class='div-sender'>
					<span class='icon icon-check_filled pull-left' ng-if="message.wasRead"></span>
					<span class='first-span'> {{ message.sender }} </span>
					<span> {{ message.username }} </span>
				</div>
				<div class='div-content pull-rigth'>
					<span class='sender-label'> {{ message.receiver }} </span>
					<span class='message-label' ng-if='!message.isURL'>{{ message.message }} </span>
					<span class='message-label' ng-if='message.isURL'>{{ message.beforeURL }}</span>
					<a ng-href="{{ message.URL }}" target="_blank" ng-if='message.isURL'>{{ message.URL }}</a>
					<span class='message-label' ng-if='message.isURL'>{{ message.afterURL }}</span>
				</div>
			</div>
		</div>
	</div>
</div>