<div class='time-picker-content'>
	<div class="textbox-space col-xs-4">
		<input id="input-hour" type="number" placeholder="hh" class="form-control" min=0 ng-model="ngModel.hours" tabindex=3>
	</div>
	<div class="textbox-space col-xs-4">
		<input type="number" placeholder="mm" class="form-control" min=0 ng-model="ngModel.minutes" ng-blur="calculateMinutes();" tabindex=3>
	</div>
	<div class="textbox-space col-xs-4">
		<input type="number" placeholder="ss" class="form-control" min=0 ng-model="ngModel.seconds" ng-blur="calculateSeconds();" tabindex=3>
	</div>
</div>