<!--
	All Rights Reserved
	This software is proprietary information of
	Intelligent Sense
	Use is subject to license terms.
	Filename: article-template.html
-->

<div class="col-xs-12 clear-padding-right clear-padding-left single-article">
	<div class="col-xs-2 col-lg-1 article-content-height edit-container">
		<span class="icon icon-edit" ng-click="editArticle(article)" ng-enter="editArticle(article)" tabindex=5/>
	</div>
	<div class="col-xs-10 col-lg-11 article-preview article-content-height">
		<h1>
			{{ getTitle() }}
			<!--<span class="icon icon-info_filled state-info" title="{{article.state}}" ng-class="{incomplete: state.incomplete, complete: state.complete, noSend: state.noSend}"></span>-->
			<span class="icon icon-copy_filled pull-right" ng-click="cloneArticle(article);" ng-enter="cloneArticle(article)" title='Clonar' tabindex=5></span>
		</h1>
		<div>
			<span>{{ article.tagSpace }}</span>
			<span>Publicity {{ article.publicity | number }}</span>
			<span>{{FEELING}} {{ getFeeling() }}</span>
		</div>
		<div class="description">
			{{ getDescription() }}
			<a ng-href='{{url}}article/{{article._id}}' tabindex=5>Ver más aquí</a>
		</div>
	</div>
</div>
