<!--
	All Rights Reserved
	This software is proprietary information of
	Intelligent Sense
	Use is subject to license terms.
	Filename: dynamic-field.html
-->
<div class="col-xs-12 clear-padding-right clear-padding-left dynamic-field" 
	ng-class="fieldType.toLowerCase()">
	<div class="col-xs-4 clear-padding-left clear-padding-right label-container" title="{{ fieldInformation.name }}">
		<label for="{{ getUnderscoreName() }}">{{ fieldInformation.name }}</label>
	</div>
	<div class="col-xs-8">

		<input class="form-control" type="number" id="{{ getUnderscoreName() }}" ng-model="value.definitive" 
			ng-if="fieldInformation.fieldType === 'Número entero'" tabindex=3>
		
		<input class="form-control" type="text" id="{{ getUnderscoreName() }}" ng-model="value.definitive"
			ng-if="fieldInformation.fieldType === 'Texto'" tabindex=3>

		<input class="form-control" type="number" step="0.1" id="{{ getUnderscoreName() }}" 
			ng-model="value.definitive" 
			ng-if="fieldInformation.fieldType === 'Número decimal'" tabindex=3>

		<input class="form-control" type="text" id="{{ getUnderscoreName() }}" ng-model="value.definitive"
			ng-if="fieldInformation.fieldType === 'Moneda'" tabindex=3>

		<input type="text" class="form-control" datepicker-popup="{{format}}" datepicker-append-to-body="true"
			ng-model="value.definitive" close-text="Cerrar" placeholder="Seleccione una fecha" 
			show-button-bar="false" show-weeks="false" is-open="openDatePicker" 
			ng-if="fieldInformation.fieldType === 'Fecha' || fieldInformation.fieldType === 'Fecha y hora'" 
			ng-blur="closeDatePicker()" tabindex=3/>

		<timepicker show-meridian="true" ng-if="fieldInformation.fieldType === 'Fecha y hora'"></timepicker>

		<time-picker ng-model="value.definitive" ng-if="fieldInformation.fieldType === 'Tiempo'"></time-picker>

		<div ng-if="radioElements" class="dynamic-radio-group">
			<div class="radio-element" ng-repeat="element in radioElements">
				<input type="radio" ng-model="value.definitive" ng-value="element"
					id="elem-{{ getUnderscoreName() }}-{{ $index }}" name="{{ getUnderscoreName() }}"  tabindex=3/>
					<label for="elem-{{ getUnderscoreName() }}-{{ $index }}">{{ element }}</label>
			</div>
		</div>
	</div>
</div>
